
body
{
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 79ch;
}

header
{
    margin-bottom: 2em;
}

td
{
    padding-left: 1em;
    padding-right: 1em;
}

.return-link
{
    margin-left: 2ch;
}
